body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

.slideshow-container img {
    max-width: 90%;
    height: auto;
    display: block;
}
